# Repository auxiliary files
.git/

# Notebook auxiliary files
.ipynb_checkpoints/
.jupyterlab-workspace/

# Cached precompiled Python code
__pycache__/

# Folders
resources/

# Ignored file types
*.json
*.gz
*.csv
*.parquet
*.log
*.txt
*.h5
*.xdmf
*.env
